<!DOCTYPE html>
<html>
<head>
    <title>Plinko Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="main-container">

    <div class="left">
        <h1 align="center">Plinko Game</h1>
        <div class="balance" id="balance"> Balance: ${{ balance }}</div>
        <h1 class="dashTitles">Bet Amount</h1>
        <input class="inputs" type="number" id="betAmount" placeholder="Enter your bet amount" min="0" step="10">

        <h1 class="dashTitles">Risk Level</h1>
        <div class="riskLevels">
        <button id="low">LOW</button>
        <button id="medium">MEDIUM</button>
        <button id="high">HIGH</button>
        </div>

        <button class="startButton" id="startButton">Drop Chip</button>

    </div>

    <div class="middle">

        <div class="game-container">
            <svg width="600" height="800" viewBox="0 0 600 800">
                <!-- Background -->
                <rect width="600" height="800" fill="#2a2a2a"/>

                <!-- Groups for game elements -->
                <g id="pegs"></g>
                <g id="slots"></g>
                <g id="multipliers"></g>

                <!-- Chip will be added dynamically -->
                <circle id="chip" r="15" fill="gold" style="display: none"/>
            </svg>
        </div>
    </div>
    <div class="right">
        <h1>winning multiplier</h1>
        <div class="controls">
            <div class="multiplier" id="result"></div>
        </div>
    </div>
</div>


    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>